{% extends 'base.html.twig' %}

{% block body %}
    <p>
        {{ 'account'|trans }}: <a href="{{ account.url }}">{{ account.url|trim('/', 'right') }}</a><br />
        Client ID: <code>{{ account.clientId }}</code>
    </p>

    <h3>{{ 'settings'|trans }}</h3>
    <a href="{{ path('specialist_index') }}">
        <button type="button" class="btn btn-outline-dark">{{ 'specialists'|trans }}</button>
    </a>
{% endblock %}
